body {
    margin: 0px;
}
.nav-container {
    height: 91px;
    background-color: rgb(18,140,126);
    
}
.nav-container>a {
   display: inline-flex ;
 color: white;
 text-decoration:none;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 15px;
margin-inline: 10px;
font-size: 17px;
}
a img {    
margin-right:  70px; 
display:inline-flex;
margin-top: 5px;
}
.page {
 align-items:center;
 margin-top: 110px;
 font-size: 22px;
 font-weight: normal;
 margin-left: 400px;
 float: left;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.page>p {
    font-size: 18px;
    float: left;
}
.page>h2 {
    
    font-weight: 400;
}
.page>h6 {
    font-weight: normal;
    color: gray;
}
.page>a {
    color: #1CB39B;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    

}
.page>a:hover {
text-decoration: underline;
}
.page a img {
    height: 20px;
 }

.picture>img {
    height: 580px;
margin-left: 100px;
margin-top: 50px;
}
.new {
    background-color: #D8E8EA;
    float: left;
 
    margin-top: 50px; 
    margin-left: 70px;
}
.text>p {
    font-size: large;
}
.text>img {
    height: 400px;
    width: auto;
    margin-top: 80px;
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;  
    margin-top: 70px;
    width: 700px;
    height: 754px;
}
p a{
    color: #39b3ed;;
}
.left {
    height: 825px;
    width: 700px;
    background-color: #e7f0e4;
    float: right;
    margin-top: 50px;
    text-align: center;
    margin-right: 70px;
}

.left>a {
    font-size: 30px;
    background-color: #77d7c8;
border: 150px solid #77d7c8;
    text-decoration: none;
    border-radius: 100%;
    color: white;

}
.headings {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 220px;
    
}
.headings>h3 {
    color: #5E5E5E;
    line-height: 2px;
}
.headings>p {
    font-size: large; 
}

.end {
    margin: 100px;
}
.end>a {
    text-decoration: none;
   display: inline-block;
margin-left: 590px;
   border: 2px solid #77d7c8;
   line-height: 50px;
   width: 210px;
   text-align: center;
   border-radius: 40px;
   color: #128c7e;
}
.last {
    background-color:#273443;
    height: 300px;
    width: auto;
}
.footer {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-heading {
display: flex;
flex-direction: column;
margin-right: 140px;
}
.footer-heading h3 {
    margin-top: 40px;
    margin-bottom: 2rem;
}
.footer-heading a{
    color: white;
    text-decoration: none;
   font-size: large;
}
.footer-end {
    background-color: #1c1e21;
    height: 70px;
    color: white;
   font-size: large;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-end p a {
    color: white;
    margin-left: 680px;
    text-decoration: none;
    
}
.footer-end p {
    margin-top: 0.5px;
    margin-left: 270px;
}